.wrapper__chat-main

  //上部 グループ名、メンバー概要欄
  .wrapper__chat-main__top
    .wrapper__chat-main__top__group
      .wrapper__chat-main__top__group__name
        techcamp
      .wrapper__chat-main__top__group__member
        Member:USERNAME
    = link_to "#", class: "wrapper__chat-main__top__edit" do
      Edit

  //中央部 チャット履歴一覧
  .wrapper__chat-main__content
    .wrapper__chat-main__content__message
      .wrapper__chat-main__content__message__info
        .wrapper__chat-main__content__message__info__contributor
          USERNAME
        .wrapper__chat-main__content__message__info__timeline
          2020-05-22, 1100
      .wrapper__chat-main__content__message__text
        Hello world!

    .wrapper__chat-main__content__message
      .wrapper__chat-main__content__message__info
        .wrapper__chat-main__content__message__info__contributor
          USERNAME
        .wrapper__chat-main__content__message__info__timeline
          2020-05-22, 1132
      .wrapper__chat-main__content__message__text
        Next world!  
                
  //下部 投稿フォーム
  .wrapper__chat-main__message-form
    .wrapper__chat-main__message-form__content
      %form{:action => "/", :method => "post", :class => "wrapper__chat-main__message-form__content__form"}
        .wrapper__chat-main__message-form__content__form__inputs
          %input{:name => "text", :class => "wrapper__chat-main__message-form__content__form__inputs__text"}
          %label{class: "wrapper__chat-main__message-form__content__form__inputs__image"}
            %input{type: "file", :class => "wrapper__chat-main__message-form__content__form__inputs__image__icon"}    
            = icon('far', 'image')                
        %input{:type => "submit", :class => "wrapper__chat-main__message-form__content__send", :value => "Send"}