.wrapper__chat-main
  .wrapper__chat-main__top
    .wrapper__chat-main__top__group
      .wrapper__chat-main__top__group__name
        techcamp
      .wrapper__chat-main__top__group__member
        Member:USERNAME
    = link_to "#", class: "wrapper__chat-main__top__edit" do
      Edit
  .wrapper__chat-main__content
  .wrapper__chat-main__message-form